h1 {
    text-align: center;
    border: 3px solid;
}
h2.pers1 {
    text-decoration: underline;
    font-size: 30px;
    color: darkgreen;
    text-align: left;
}
.form {
  text-align: left;
}

button.verify:link, button.verify:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.verify:hover, button.verify:active {
    background-color: green;
    color: white;
}

button.verify1:link, button.verify1:visited {
    background-color: white;
    color: black;
    border: 2px solid red;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.verify1:hover, button.verify1:active {
    background-color: red;
    color: white;
}

h2.name {
    color:red;

}
h2.year {
   color:rgb(6, 134, 23);
}
h2.height {
    color:brown;
}
h2.weight {
    color: green;
}
h2.age {
    color: blueviolet;
}

body {
    background-image: url("https://img.freepik.com/premium-photo/blank-old-paper-textured-background_53876-132629.jpg?w=1380");
}

h2.pers2 {
    text-decoration: underline;
    font-size: 30px;
    color: darkgreen;
}
button.verify2:link, button.verify2:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.verify2:hover, button.verify2:active {
    background-color: green;
    color: white;
}

button.verify3:link, button.verify3:visited {
    background-color: white;
    color: black;
    border: 2px solid red;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.verify3:hover, button.verify3:active {
    background-color: red;
    color: white;
}
button.verify4:link, button.verify4:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(170, 170, 2);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.verify4:hover, button.verify4:active {
    background-color: rgb(170, 170, 2);
    color: white;
}